<div class="pages_container">
    <div>
        <header class="header">
            <div class="timer_wrapper">
                <span></span>
                <span>:</span>
                <span></span>
            </div>
            <h1>Найди пару</h1>
            <div class="buttons_wrap">
                <button>
                    <img src="settings.svg" alt="settings icon" />
                </button>
                <button>
                    <img src="restart.svg" alt="restart icon" />
                </button>
            </div>
        </header>
        <div>
            <div class="card">
                <div class="content_wrap">
                    <!-- <img src="${defaultImage}" class="img front" />
                    <img src="${image.src}" class="img back" /> -->
                </div>
            </div>
        </div>
    </div>
</div>