<div class="page_container">
  <div class="mainsweeper_wrapper">
    <div class="my_dropdown_wrapper">
      <dropdown
        [options]="options"
        [value]="boardService.level()"
        [onSelect]="handleLevelSelect.bind(this)"
      ></dropdown>
      @if (boardService.isGameStart()) {
        <div class="hint_wrapper">
          <button
            (click)="handleUseHint()"
            [ngClass]="[
              'hint_btn',
              boardService.hintAmount() === 0 ? 'disabled' : '',
            ]"
            id="hint_btn"
          >
            <lucide-icon
              [img]="Bulb"
              size="45"
              color="#ffff48"
              [absoluteStrokeWidth]="true"
            ></lucide-icon>
            <span>{{ boardService.hintAmount() }}</span>
          </button>
        </div>
      }
    </div>
    <div class="game_board">
      <div class="tablo">
        <div class="tablo_content">
          <div class="tablo_flag">
            <tablo [tabloNum]="boardService.flagCounter()" />
          </div>
          <div
            (click)="boardService.restart()"
            class="smile_container"
            role="button"
          >
            @if (boardService.isFailed()) {
              <sad-smile />
            } @else {
              <happy-smile />
            }
          </div>
          <div class="timer_container">
            <tablo [tabloNum]="boardService.seconds()" />
          </div>
        </div>
      </div>
      <div #container class="mainsweeper_container">
        @for (field of boardService.fields(); track field.id) {
          <button
            (contextmenu)="onFieldCheck($event, $index)"
            (click)="onFieldClick($index)"
            [ngClass]="[
              'field',
              'field_' + boardService.level().value,
              'field_' +
                (field?.minesAround && (field?.minesAround ?? 4) < 4
                  ? field.minesAround
                  : 'default'),
              field.isOpen ? 'open_field' : '',
              field?.failed ? 'failed' : '',
              $index === boardService.hintIdx() ? 'hint' : '',
            ]"
          >
            @if (field.isFlaged) {
              <img src="/minesweeper/flag.png" alt="flag" />
            } @else if (field.isOpen && field.isMine) {
              <img src="/minesweeper/bomb.png" alt="bomb" />
            }
            {{ field?.minesAround ?? "" }}
          </button>
        }
      </div>
    </div>
  </div>
</div>
