.page_container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/minesweeper_bg.jpg");
  background-size: cover;
  padding: 32px;
}

.mainsweeper_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  overflow: hidden;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
}

.my_dropdown_wrapper {
  margin-top: 50px;
  grid-column: 1;
  justify-self: end;

  @media screen and (max-width: 480px) {
    margin-top: 0;
  }
}

.mainsweeper_container {
  display: grid;
  grid-template-columns: repeat(var(--rows), var(--size));
  grid-template-rows: repeat(var(--cols), var(--size));
  height: auto;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  border-right: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 10px solid #878787;
  border-top: 10px solid #878787;

  @media screen and (max-width: 480px) {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #878787;
    border-top: 3px solid #878787;
  }
}

.game_board {
  grid-column: 2/3;
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 15px solid #fff;
  border-left: 15px solid #fff;
  border-bottom: 15px solid #878787;
  border-right: 15px solid #878787;
  background: gainsboro;
  padding: 10px;

  @media screen and (max-width: 480px) {
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #878787;
    border-right: 5px solid #878787;
  }
}

.tablo {
  width: 100%;
  border-right: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 10px solid #878787;
  border-top: 10px solid #878787;

  @media screen and (max-width: 480px) {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #878787;
    border-top: 3px solid #878787;
  }
}

.tablo_content {
  width: 100%;
  height: 100%;
  background: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.field_easy {
  font-size: 2vw;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #878787;
  border-right: 4px solid #878787;

  @media screen and (max-width: 480px) {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #878787;
    border-right: 2px solid #878787;
  }
}

.field_medium {
  font-size: 1.5vw;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #878787;
  border-right: 3px solid #878787;

  @media screen and (max-width: 480px) {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #878787;
    border-right: 1px solid #878787;
  }
}

.field_hard {
  font-size: 1vw;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #878787;
  border-right: 2px solid #878787;

  @media screen and (max-width: 480px) {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #878787;
    border-right: 1px solid #878787;
  }
}

.field {
  aspect-ratio: 1/1;
  outline: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #bfbfbf;

  &:active {
    scale: 0.9;
  }

  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}

.open_field {
  border: 1px solid #bfbfbf;
  background: #e2e2e2 !important;
  pointer-events: none;
}

.failed {
  border-bottom: 1px solid #a00c0c;
  background: #e00707 !important;
}

.hint{
  background-color: #45de45;
}

.field_1{
  color: #0B24FB;
}
.field_2{
  color: #0E7A11;
}
.field_3{
  color: #852123;
}
.field_default{
  color: #FC0D1B;
}


.smile_container {
  cursor: pointer;
  padding: 3px;
  border-bottom: 5px solid #878787;
  border-right: 5px solid #878787;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;

  &:active {
    scale: 0.95;
  }
}

.tablo_flag {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;

  img {
    width: 40px;
  }

  span {
    font-size: 40px;
    font-weight: 600;
    color: gray;
  }
}

.hint_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint_btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  position: relative;

  span{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    color: #000;
    font-weight: 600;

  }
}