<div class="tetris_wrapper">
  <div class="tetris_main_wrapper">
    <span class="record_span">Ваш рекорд-{{ tetrisService.bestScore() }}</span>
    <div class="tetris_container">
      <div class="tetris_cavnvas_container">
        <div class="tetris_info_section_mobile">
          <div class="tetris_info_wrapper">
            <h1>СЧЕТ</h1>
            <span>{{ tetrisService.score() }}</span>
          </div>
          <div class="tetris_info_wrapper">
            <h1>УРОВЕНЬ</h1>
            <span>{{ tetrisService.level() }}</span>
          </div>
          <div class="tetris_info_wrapper">
            <h1>ДАЛЕЕ</h1>
            @if (tetrisService.isMobile) {
            <canvas style="image-rendering: pixelated" #infoCanvas></canvas>
            }
          </div>
        </div>
        <canvas class="tetris_canvas" #canvas></canvas>
        <div class="control_wrapper_mobile">
          <button (click)="moveUp()">
            <lucide-icon size="30" [img]="ArrowUp" />
          </button>
          <button (pointerdown)="onMouseDown('right')" (pointerup)="onMouseUp()">
            <lucide-icon size="30" [img]="ArrowRight" />
          </button>
          <button (pointerdown)="onMouseDown('down')" (pointerup)="onMouseUp()">
            <lucide-icon size="30" [img]="ArrowDown" />
          </button>
          <button (pointerdown)="onMouseDown('left')" (pointerup)="onMouseUp()">
            <lucide-icon size="30" [img]="ArrowLeft" />
          </button>
        </div>
        @if(!tetrisService.gameStarted() || tetrisService.gameStopped()){
        <button class="tetris_play_btn" (click)="tetrisService.play()">
          <lucide-icon
            [size]="tetrisService.isMobile ? 40 : 80"
            [img]="Play"
            color="white"
          />
        </button>
        } @if(tetrisService.gameStarted() && !tetrisService.gameStopped()){
        <button (click)="onPause()" class="tetris_pause_btn">
          <lucide-icon
            [size]="tetrisService.isMobile ? 40 : 60"
            [img]="Pause"
            color="white"
          />
        </button>
        }
      </div>
      <div class="tetris_info_section">
        <div class="tetris_info_wrapper">
          <h1>СЧЕТ</h1>
          <span>{{ tetrisService.score() }}</span>
        </div>
        <div class="tetris_info_wrapper">
          <h1>УРОВЕНЬ</h1>
          <span>{{ tetrisService.level() }}</span>
        </div>
        <div class="tetris_info_wrapper">
          <h1>ДАЛЕЕ</h1>
          @if (!tetrisService.isMobile) {
          <canvas style="image-rendering: pixelated" #infoCanvas></canvas>
          }
        </div>
        <div class="tetris_info_wrapper">
          <h1>УПРАВЛЕНИЕ</h1>
          <div class="control_wrapper">
            <button (click)="moveUp()">
              <lucide-icon size="25" [img]="ArrowUp" />
            </button>
            <button (pointerdown)="onMouseDown('right')" (pointerup)="onMouseUp()">
              <lucide-icon size="25" [img]="ArrowRight" />
            </button>
            <button (pointerdown)="onMouseDown('down')" (pointerup)="onMouseUp()">
              <lucide-icon size="25" [img]="ArrowDown" />
            </button>
            <button (pointerdown)="onMouseDown('left')" (pointerup)="onMouseUp()">
              <lucide-icon size="25" [img]="ArrowLeft" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
