<div class="chat hidden" role="button" id="chat">
  <img class="chat_icon" src="/chat.png" alt="chat" />
  <span class="not hidden" id="not"></span>
</div>
<div class="chat_container hidden" id="chat-container">
  <div class="chat_wrapper">
    <header>
      <span id="chat-name"></span>
      <button id="close-chat">&times;</button>
    </header>
    <div class="messages_container">
      <div id="messages" class="messages_wrapper"></div>
    </div>
    <footer>
      <input type="text" id="chat-input" placeholder="написать..." />
      <button id="send">
        <img src="/send.svg" alt="send" />
      </button>
    </footer>
  </div>
</div>