<div class="battle_field" id="battlefield" #container>
  <div class="letters_grid">
    <span>А</span><span>Б</span><span>В</span><span>Г</span><span>Д</span
    ><span>Е</span><span>Ж</span><span>З</span><span>И</span><span>К</span>
  </div>
  <div class="numbers_grid">
    <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span
    ><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span>
  </div>
  <div style="display: none" id="info-section" class="info-section">
    <span id="name"></span>
    <div id="ready-wrapper"></div>
  </div>
  @for(ship of battleshipService.ships(); track $index) {
  <div
    cdkDrag
    [cdkDragBoundary]="'#battlefield'"
    [cdkDragData]="ship"
    (cdkDragMoved)="onDragMove($event)"
    (cdkDragEnded)="onDragEnd($event)"
    class="ship"
    [ngStyle]="getGridArea(ship.coordinates, ship.direction)"
  ></div>
  } @if (boardService.placeToArrange()) {
  <div
    class="place_to_arrange"
    [ngStyle]="
      getGridArea(
        boardService.placeToArrange()!.coordinates,
        boardService.placeToArrange()!.direction
      )
    "
  ></div>
  }
</div>
