.battle_field {
  background: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);

  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;

  background-image: linear-gradient(to right, gainsboro 1px, transparent 1px),
    linear-gradient(to bottom, gainsboro 1px, transparent 1px);
  background-size: 30px 30px;
}

.letters_grid span {
  justify-self: center;
  align-self: center;
}

.letters_grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  position: absolute;
  top: -25px;
  left: 0;
}

.numbers_grid span {
  align-self: center;
  justify-self: center;
}

.numbers_grid {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  position: absolute;
  top: 0;
  left: -25px;
}

.info-section {
  display: flex;
  width: calc(30px * 10);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -45px;
}

.disabled_btn {
  opacity: 0.4;
  pointer-events: none;
}

.miss_field {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  pointer-events: none;
  cursor: default;
}

.miss_field::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/dot-fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hitted_field {
  width: 100%;
  position: relative;
  height: 100%;
  pointer-events: none;
  cursor: default;
  border: 2px solid #dd1919;
}

.hitted_field::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cell_btn {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  width: 100%;
  height: 100%;
  cursor: url("/aim.svg") 16 16, auto;
}