body{
  background-color: #EEF4F7;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--primary-text-color);
  font-size: 24px;

  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}