<div class="clock">
  <div class="digit" #first>
    <div class="segment seg-a"></div>
    <div class="segment seg-b"></div>
    <div class="segment seg-c"></div>
    <div class="segment seg-d"></div>
    <div class="segment seg-e"></div>
    <div class="segment seg-f"></div>
    <div class="segment seg-g"></div>
  </div>
  <div class="digit" #second>
    <div class="segment seg-a"></div>
    <div class="segment seg-b"></div>
    <div class="segment seg-c"></div>
    <div class="segment seg-d"></div>
    <div class="segment seg-e"></div>
    <div class="segment seg-f"></div>
    <div class="segment seg-g"></div>
  </div>
  <div class="digit" #third>
    <div class="segment seg-a"></div>
    <div class="segment seg-b"></div>
    <div class="segment seg-c"></div>
    <div class="segment seg-d"></div>
    <div class="segment seg-e"></div>
    <div class="segment seg-f"></div>
    <div class="segment seg-g"></div>
  </div>
</div>
