<div class="main_page_wrapper">
  <div class="main_page_filters">
    <div class="main_page_input_wrapper">
      <input
        #searchInput
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
        (input)="onSearch($event)"
        type="search"
        placeholder="Поиск..."
      />
      <search-icon class="main_page_search_icon" />
    </div>
    <div class="main_page_tags_container">
      @for (tag of filters.activeTags(); track tag) {
         <span>
          {{tag}}
          <button (click)="onTagClear(tag)">&#10006;</button>
        </span>
      }
    </div>
  </div>
  <div class="main_page_container">
    @for (game of filters.gamesArray(); track game.name) {
    <game-card
      [name]="game.name"
      [href]="game.href"
      [image]="game.image"
      [tags]="game.tags"
      [searchInput]="getSearchValue()"
    />
    }
  </div>
</div>
