.available_square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--chess-cell) / 2.5);
  height: calc(var(--chess-cell) / 2.5);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 1;
}

.take_square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--chess-cell);
  height: var(--chess-cell);
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 1;
}

@keyframes dangerPulse {
  0% {
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.6);
  }
  50% {
    box-shadow:
      0 0 16px rgba(255, 0, 0, 1),
      0 0 32px rgba(255, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.6);
  }
}

.check {
  animation: dangerPulse 1s infinite ease-in-out;
}

.mate {
  box-shadow:
    0 0 16px rgba(255, 0, 0, 1),
    0 0 32px rgba(255, 0, 0, 0.6);
  border-radius: 6px;
}

.history {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: var(--chess-cell);
  height: var(--chess-cell);
  background: #cbd5e1;
  opacity: 0.8;
}
