<div class="relative">
  <div
    [style]="promotionPosition(chessService.pawnPromotionIndex())"
    class="z-[1000] w-fit h-fit absolute flex-col !bg-white shadow-[0px_0px_21px_6px_rgba(0,_0,_0,_0.6)]"
    #promotionContainer
  >
    <div
      [style]="{ width: cellSize + 'px', height: cellSize + 'px' }"
      role="button"
      (click)="onPromotionChoose('queen')"
    >
      <img
        [src]="
          chessService.moveTurn() === 'white'
            ? '/chess/wq.svg'
            : '/chess/bq.svg'
        "
        alt="chess figure"
      />
    </div>
    <div
      [style]="{ width: cellSize + 'px', height: cellSize + 'px' }"
      role="button"
      (click)="onPromotionChoose('rook')"
    >
      <img
        [src]="
          chessService.moveTurn() === 'white'
            ? '/chess/wr.svg'
            : '/chess/br.svg'
        "
        alt="chess figure"
      />
    </div>
    <div
      [style]="{ width: cellSize + 'px', height: cellSize + 'px' }"
      role="button"
      (click)="onPromotionChoose('knight')"
    >
      <img
        [src]="
          chessService.moveTurn() === 'white'
            ? '/chess/wn.svg'
            : '/chess/bn.svg'
        "
        alt="chess figure"
      />
    </div>
    <div
      [style]="{ width: cellSize + 'px', height: cellSize + 'px' }"
      role="button"
      (click)="onPromotionChoose('bishop')"
    >
      <img
        [src]="
          chessService.moveTurn() === 'white'
            ? '/chess/wb.svg'
            : '/chess/bb.svg'
        "
        alt="chess figure"
      />
    </div>
  </div>
  <div class="grid grid-cols-8 grid-rows-8 relative" id="board" #board>
    @for (square of chessService.board(); track $index) {
      <div
        class="relative"
        (click)="onMove(square, $index)"
        [style.background]="getBg($index)"
        #cell
        [ngStyle]="getGridArea($index, square.figure?.position() ?? null)"
      >
        @if ($index === lastMove[0] || $index === lastMove[1]) {
          <div class="history"></div>
        }

        @if (square.canMove && isFigure(square.figure)) {
          <div class="take_square"></div>
        }
        @if (square.canMove && !isFigure(square.figure)) {
          <div class="available_square"></div>
        }
        @if (isFigure(square.figure)) {
          <div
            (pointerdown)="onPieceChoose(square)"
            role="button"
            [cdkDragDisabled]="isDragDisabled(square.figure)"
            cdkDrag
            cdkDragBoundary="#board"
            class="touch-none relative z-[2] cursor-grab"
            (cdkDragEnded)="onDragEnd($event)"
            [cdkDragData]="square"
          >
            <img
              [ngClass]="
                $index === chessService.checkIndex()
                  ? 'check'
                  : $index === chessService.mateIndex()
                    ? 'mate'
                    : ''
              "
              width="60"
              height="60"
              [src]="square.figure.image"
              [alt]="square.figure.piece"
            />
          </div>
        }
      </div>
    }
  </div>
</div>
