.available_square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--chess-cell) / 2.5);
  height: calc(var(--chess-cell) / 2.5);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 1;
}

.take_square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--chess-cell);
  height: var(--chess-cell);
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 1;
}

.check {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: var(--chess-cell);
  height: var(--chess-cell);
  background: #f74545;
  opacity: 0.7;
}

.history {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: var(--chess-cell);
  height: var(--chess-cell);
  background: #fde047;
  opacity: 0.8;
}
