@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tektur";
  src: url(/fonts/taktur/Tektur-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bangers";
  src: url(/fonts/bangers/Bangers-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-text-color: #262633;
  --primary-bg: #c2d3db;
  --secondary-color: #ffc107;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  body {
    background-attachment: fixed;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
