/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tektur";
  src: url(/fonts/taktur/Tektur-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "New Amsterdam";
  src: url(/fonts/newAmsterdam/NewAmsterdam-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-text-color: #262633;
  --primary-bg: #c2d3db;
  --secondary-color: #ffc107;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

.disabled{
  pointer-events: none;
  opacity: 0.6;
}